<section class="home">
  <div class="container">
    <div class="home__wrapper">
      <h1>ToDoList</h1>

      <div class="home__input">
        <input placeholder="Add new todo" type="text" id="task__add">
        <button class="home__btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M450 856V606H200v-60h250V296h60v250h250v60H510v250h-60Z"/></svg>
        </button>
      </div>

      <div class="home__task-container">
        <div class="home__list" [(ngModel)]="taskInWork">
          <p>Todo</p>
          <app-task *ngFor="let task of tasks | slice:0:10 | taskFilter:taskInWork" [task]="task" class="taska"></app-task>
        </div>
        
        <div class="home__list" [(ngModel)]="taskDone">
          <p>Done</p>
          <app-task *ngFor="let task of tasks | slice:0:10 | taskFilter:taskDone" [task]="task" class="taska"></app-task>
        </div>
      </div>

      <!-- <div class="home__footer">
        <p>You have </p>
      </div> -->
    </div>
  </div>
</section>